nav ul li a {
    color: #009688;
}

#logo {
    max-height: 55px;
    max-width: 77px;
    padding-left: 10px;
}

.material-icons.tealicon {
    color: #009688;
}

.parallax-container {
    max-height: 100%;
    max-width: 100%;
}